<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.PlantManagerApp">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlantManagerApp">
        <activity android:name=".DeletePlantActivity"></activity>
        <activity android:name=".SprayingActivity" />
        <activity android:name=".LooseningActivity" />
        <activity android:name=".PlantFertilizationActivity" />
        <activity android:name=".PlantTransplantActivity" />
        <activity android:name=".WateringActivity" />
        <activity android:name=".AboutThisAppActivity" />
        <activity android:name=".SuggestionActivity" />
        <activity android:name=".ReportAProblemActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ShowYourMapActivity" />
        <activity android:name=".ListOfYourPlantsActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".TodayActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>